<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTEO6Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceTEO6Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44358/WebServiceTEO6.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTEO6Soap"
                contract="SR.WebServiceTEO6Soap" name="WebServiceTEO6Soap" />
        </client>
    </system.serviceModel>
</configuration>