<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FeminicidiosWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FeminicidiosWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44359/FeminicidiosWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FeminicidiosWebServiceSoap"
                contract="SR.FeminicidiosWebServiceSoap" name="FeminicidiosWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>